        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: rgb(4, 51, 6);
        }

        #sidebar {
            height: 100vh;
            width: 200px;
            background-color:black;
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
        }

        #sidebar img {
            width: 80%;
            margin-bottom: 20px;
        }

        #sidebar a {
            color: #fff;
            text-decoration: none;
            padding: 10px;
            margin-top: 10px;
            text-align: center;
            width: 100%;
            box-sizing: border-box;
        }

        #content {
            margin-left: 200px;
            padding: 20px;
        }

        #black-bar {
            background-color: black;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        #search-bar {
            flex: 1;
            display: flex;
            margin-right: 10px;
        }

        #search-input {
            flex: 1;
            padding: 8px;
            border: none;
        }

        #search-button {
            padding: 8px;
            background-color: beige;
            color: brown;
            border: none;
            cursor: pointer;
        }

        #signup-button {
            padding: 8px;
            background-color: brown;
            color: white;
            border: none;
            cursor: pointer;
        }

        #product-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;
            width: 15%;
            height : 200px;
            overflow: hidden;
        }

        .product {
            max-width: 100%;
            margin-bottom: 15px;
            max-height : 100%;
            border: 1px solid #ddd;
            box-sizing: border-box;
            text-align: center;
        }

        #description {
            margin-top: 20px;
            text-align: center;
        }

        hr {
            margin: 20px 0;
            border: 1px solid #ddd;
        }
    